$primary-gradient: linear-gradient(
  135deg,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

$color-white: #ffffff;

$color-primary: hsl(220, 98%, 61%);

//Light theme
$color-gray-1: hsl(0, 0%, 98%);
$color-gray-2: hsl(236, 33%, 92%);
$color-gray-3: hsl(233, 11%, 84%);
$color-gray-4: hsl(236, 9%, 61%);
$color-gray-5: hsl(235, 19%, 35%);
$img-light-desktop: url('../../assets/images/bg-desktop-light.jpg');
$img-light-mobile: url('../../assets/images/bg-mobile-light.jpg');

$shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

//Dark theme
$color-blue-1: hsl(235, 21%, 11%);
$color-blue-2: hsl(235, 24%, 19%);
$color-blue-3: hsl(234, 39%, 85%);
$color-blue-4: hsl(236, 33%, 92%);
$color-blue-5: hsl(234, 11%, 52%);
$color-blue-6: hsl(233, 14%, 35%);
$color-blue-7: hsl(237, 14%, 26%);
$img-dark-desktop: url('../../assets/images/bg-desktop-dark.jpg');
$img-dark-mobile: url('../../assets/images/bg-mobile-dark.jpg');
$shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
