.input__text {
  border-radius: 0.3125rem;
  //border: 1px solid white;
  border: none;
  caret-color: $color-primary;
  font-size: 1.125rem;
  height: 3.7rem;
  padding-inline: 1rem;
  transition: color 0.6s ease-in-out, background-color 0.6s ease-in-out;
  flex-grow: 1;

  @include themed() {
    background-color: t('bgTodoContainer');
    color: t('fcRegular');
  }

  &:focus {
    outline: none;
  }
}

.form__container {
  border-radius: 0.3125rem;
  border: 0;
  height: 3.7rem;
  min-width: 100%;
  padding-inline: 1rem;
  transition: color 0.6s ease-in-out, background-color 0.6s ease-in-out,
    box-shadow 0.6s ease-in-out;

  display: flex;
  align-items: center;

  @include themed() {
    background-color: t('bgTodoContainer');
    box-shadow: t('shadow');
    color: t('fcRegular');
  }

  &:focus {
    outline: none;
  }

  & button:hover {
    @include themed() {
      color: t('fcActive');
    }
  }
}

.button-transparent {
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: inline-grid;
  place-items: center;
}

.button-invisible {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-grid;
  place-items: center;
}

.button-active {
  background-image: $primary-gradient;
}

.border-wrap {
  background: transparent;
  border-radius: 50%;
  display: inline-grid;
  padding: 1px;
  place-items: center;

  &:hover {
    background: $primary-gradient;
  }
  &:hover > button:not(.button-active) {
    background: $color-blue-2;
    border: none !important;

    @include themed() {
      background: t('bgTodoContainer');
    }
  }
}

.button__rectangle-transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-inline: 0;
}
